<ion-header style="text-align:center">
  <ion-toolbar>
    <ion-buttons slot = "end">
      <ion-button (click)="dimiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header style="margin-bottom: 5%;">
          Players
        </ion-list-header>

        <div *ngIf="roomPlayers.length != 0">
          <ion-item  *ngFor="let user of registeredUsers" (click)="onSelectedPlayer( user )" >
            <ion-avatar style="margin-right: 5%;">
              <img src="../../../../../assets/icon/avatar.png">
            </ion-avatar>
            <ion-label>
              <h2>{{ user.displayName }}</h2>
              <h3>{{ user.email }}</h3>
              <p>{{ user.uid }}</p>
            </ion-label>
          </ion-item> 
        </div>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
