<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Lobby</ion-title>
    
    <ion-buttons slot = "start">
      <ion-back-button (click)="logOut()" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

    <ion-card-content>
      
      <ion-grid>
        <ion-row>

          <ion-col style="text-align: left;">
            <a style="text-align: left;">{{user.displayName}}</a>
          </ion-col>


          <ion-col style="text-align: right; font-size: x-large;">
           <div (click)="refreshClick()">
             <ion-icon name="refresh-outline"></ion-icon>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>


    </ion-card-content>


      <ion-card-header>
      
      <ion-segment [(ngModel)]="segmentModel">
      
        <ion-segment-button value="settings">
          <ion-label>Room Settings</ion-label>
        </ion-segment-button>
        
        <ion-segment-button value="room" [disabled]="!selectedRoom">
          <ion-label>Room</ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-card-header>



  <ion-card-content *ngIf="segmentModel === 'settings'">

    <ion-item [disabled] = "rooms.length === 0">
      <ion-label>Select room</ion-label>
      <ion-select 
                  (ionChange)="onChangeRoom($event)"
                  interface = "popover" 
                  [(ngModel)]="selectedRoom" 
                  placeholder="Select one"
                  >
        <ion-select-option *ngFor="let game of rooms; let i = index" [value] = "rooms[i]">{{ game }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="createRoom()"
                expand="block" 
                color = "success"
                style="margin-top: 10%;"
    >New Room
    </ion-button>

    </ion-card-content>




    <ion-card-content *ngIf="selectedRoom &&  segmentModel === 'settings'">

      <ion-content style="height: 150px;" class="ion-padding" *ngIf="selectedPlayers.length !== 0">
        
        <ion-list>
          <ion-item *ngFor="let users of selectedPlayers; let i = index;" >
            <ion-row>
              <ion-col>
                <ion-avatar style="margin-right: 5%;">
                  <img src="../../../assets/icon/avatar.png">
                </ion-avatar>
                <ion-label>
                  <div style="margin-top: 5%;">
                    <h2>{{ users.displayName }}</h2>
                    <h3>{{ users.email }}</h3>
                    <p>{{ users.uid }}</p>
                  </div>
                </ion-label>
              </ion-col>
              <ion-col>
                <ion-button style="margin-top: 2%" color="danger" (click)="deleteSelectedUser( i )">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-content> 

      <ion-button  
           *ngIf="selectedPlayers.length !== 0"
            style="margin-top: 10%;"
            expand="block"
            color="success"
            (click)="addUserRoom()"
      >
        Add the users to room
      </ion-button>

      <ion-button (click)="onMultiplayerClick()"
                  expand="block"
                  color="tertiary"
      >

      
      Add friends to room
      </ion-button>
    
      <div style="margin-top: 10%;">
        <ion-button color = "secondary" (click)="seeListFriends()" expand="block" *ngIf="playersRoom.length > 1 && !seePlayers">
          Room friends <ion-icon name="eye"></ion-icon> 
        </ion-button>
  
        <ion-button color = "secondary" (click)="seeListFriends()" expand="block" *ngIf="playersRoom.length > 1 && seePlayers">
          Close room friends <ion-icon name="exit"></ion-icon>
        </ion-button>
  
      </div>
    <ion-card-content style="height: 200px; text-align: center;"  *ngIf="seePlayers">
      <h2>Friends in the room</h2>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item *ngFor="let users of playersRoom;">
            <ion-avatar style="margin-right: 5%;">
              <img src="../../../assets/icon/avatar.png">
            </ion-avatar>
            <ion-label>
              <div style="margin-top: 5%;">
                <h2>{{ users.player_name }}</h2>
                <h3>{{ users.player_id }}</h3>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-card-content>

    </ion-card-content>

    <!-- Select del lado de room -->

    <ion-card-content *ngIf="segmentModel === 'room'">

      <ion-label>
      </ion-label>
      Room Games


      <ion-item [disabled] = "games.length === 0">
        <ion-label>Select game</ion-label>
        <ion-select 
            interface = "popover" 
            [(ngModel)]="selectedGame" 
            placeholder="Select one"
            (ionChange)="onChangeGame()"
        >
            <ion-select-option 
              *ngFor="let game of games; let i = index" 
              [value] = "games[i]">
              {{ game.idGame }}
            </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="addGameRoom()"
          expand="block" 
          color = "success"
          style="margin-top: 10%;"
      >
          Create game
      </ion-button>

      <ion-card 
          *ngIf="segmentModel === 'room' && selectedGame && buttonJoin" 
          style="background-color:rgb(203, 230, 222); margin: 5px; margin-top: 5%">

        <ion-card-content style="margin-left: 5%;">
          <p><ion-label><strong>Game id: </strong> {{selectedGame.idGame}}</ion-label></p>
          <p><ion-label><strong>Created by: </strong> {{game.player1.playerName}}</ion-label></p>
          <p><ion-label><strong>Opponent: </strong> {{game.player2.playerName}}</ion-label></p>
        </ion-card-content>

        <ion-button 
            *ngIf="user.uid === game.player1.playerId || user.uid === game.player2.playerId"
            style="margin: 10%;"
            expand="block"
            color="dark"
            (click)="saveIdGame()"
            [routerLink]="['/board']"
        >
            Continue game
        </ion-button>

        <ion-button 
            *ngIf="user.uid !== game.player1.playerId && user.uid !== game.player2.playerId"
            style="margin: 10%;"
            expand="block"
            color="dark"
            [routerLink]="['/board']">
          Watch game
        </ion-button>
      </ion-card>

    </ion-card-content>

    <ion-card-content 
        *ngIf="addPlayer && segmentModel === 'room' && game.player1.playerId !== user.uid">
        <ion-card 
            style=" background-color: crimson; color: black;">
            The game has not been created by the owner {{game.player1.playerName}}!
        </ion-card>
    </ion-card-content>

    <ion-card-content 
        *ngIf="addPlayer && segmentModel === 'room' && game.player1.playerId === user.uid">

        <ion-label>Select user to play</ion-label> 
        <ion-button 
            (click)="onChangeGame()" 
            style="margin-left: 5%;" 
            size="small" 
            fill="outline">
            <ion-icon 
                slot="icon-only" 
                name="refresh-outline">
            </ion-icon>
        </ion-button>

        <ion-item [disabled] = "playersRoom.length === 0">
          <ion-select 
              interface = "popover" 
              [(ngModel)]="selectedUser" 
              placeholder="Select one"
              >
                      
              <ion-select-option 
                  *ngFor="let game of playersRoom; let i = index" 
                  [value] = "playersRoom[i].player_id">
                  {{ game.player_name }}
              </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button 
            *ngIf="selectedUser"
            expand="block" 
            color = "success"
            style="margin-top: 10%;"
            (click)="startGame()"
            [routerLink]="['/board']">
            Start Game
        </ion-button>

    </ion-card-content>

  </ion-card>


  <ion-card *ngIf="segmentModel == 'room' ">
    <ion-card-header>
      <h3>Room Chat</h3>
    </ion-card-header>

    <ion-card-content>

      <div style="font-size: smaller;" *ngFor="let msg of messages">

        <div *ngIf="msg.uidPlayer == user.uid && msg.roomId == selectedRoom" style="text-align: right;">
          <span><ion-badge color="secondary"> {{ msg.displayName }} </ion-badge></span>
          <p>{{ msg.message }}</p>
        </div>

        <div *ngIf="msg.uidPlayer !== user.uid && msg.roomId == selectedRoom">
          <span><ion-badge color="success"> {{ msg.displayName }} </ion-badge></span>
          <p>{{ msg.message }}</p>
        </div>

      </div>



    </ion-card-content>

    <ion-item style="margin-bottom: 5%;">
      <ion-input  placeholder = "Message..."
                  [(ngModel)]="chatMessage"
      >
      </ion-input>
      <ion-button color="secondary" (click)="sendMessage()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  
  </ion-card> 


</ion-content>
