<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Lobby</ion-title>
    
    <ion-buttons slot = "start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header  style="margin-top: 35px;">
      
    <ion-segment [(ngModel)]="segmentModel">
      
      <ion-segment-button value="settings">
        <ion-label>Rooms</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="room" [disabled]="!selectedRoom">
        <ion-label>Room</ion-label>
      </ion-segment-button>
    
  
  
    </ion-segment>
  </ion-card-header>


  <ion-card-content *ngIf="segmentModel === 'settings'">

    <ion-item [disabled] = "rooms.length === 0">
      <ion-label>Select room</ion-label>
      <ion-select 
                  (ionChange)="onChangeRoom($event)"
                  interface = "popover" 
                  [(ngModel)]="selectedRoom" 
                  placeholder="Select one"
                  >
        <ion-select-option *ngFor="let game of rooms; let i = index" [value] = "rooms[i]">{{ game }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="createRoom()"
                expand="block" 
                color = "success"
                style="margin-top: 10%;"
    >New Room
    </ion-button>

  </ion-card-content>

  <ion-card-content *ngIf="selectedRoom &&  segmentModel === 'settings'">

    <ion-item *ngIf="selectedPlayers.length !== 0">
      
      <ion-list>
        <ion-item *ngFor="let users of selectedPlayers; let i = index;" >
          <ion-row>
            <ion-col>
              <ion-avatar style="margin-right: 5%;">
                <img src="../../../assets/icon/avatar.png">
              </ion-avatar>
              <ion-label>
                <div style="margin-top: 5%;">
                  <h2>{{ users.displayName }}</h2>
                  <h3>{{ users.email }}</h3>
                  <p>{{ users.uid }}</p>
                </div>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-button style="margin-top: 2%" color="danger" (click)="deleteSelectedUser( i )">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-item> 

    <ion-button   *ngIf="selectedPlayers.length !== 0"
                  style="margin-top: 10%;"
                  expand="block"
                  color="success"
                  (click)="addUserRoom()"
      >
      Add the users to room
      </ion-button>

      <ion-button (click)="onMultiplayerClick()"
                  style="margin-top: 10%;"
                  expand="block"
                  color="medium"
      >
      Add friends to room
      </ion-button>

    
  </ion-card-content>

  <!-- Select del lado de room -->

  <ion-card-content *ngIf="segmentModel === 'room'">

    <ion-item [disabled] = "rooms.length === 0">
      <ion-label>Select game</ion-label>
      <ion-select 
                  interface = "popover" 
                  [(ngModel)]="selectedRoom" 
                  placeholder="Select one"
                  >
                  
        <ion-select-option *ngFor="let game of rooms; let i = index" [value] = "rooms[i]">{{ game }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="createRoom()"
                expand="block" 
                color = "success"
                style="margin-top: 10%;"
    >Join game
    </ion-button>

  </ion-card-content>

  </ion-card>
</ion-content>
